<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ninetripods.mq.study">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--全屏悬浮窗 需要申请此权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/android_study"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customViewGroup.FiveRingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customView.cakeView.ViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bezier.BezierDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bezier.view.BeaierDemo.BezierTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bezier.view.BeaierDemo.BezierOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bezier.view.BeaierDemo.BezierThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customView.alipayView.ALiPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".path.PathMeasureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".path.PathVectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiprocess_client.AidlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiprocess_client.MessengerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiprocess_client.BinderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiprocess_client.IntentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommonWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.PopupWindowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".jni.JNIActivity" />
        <activity
            android:name=".propertyAnimator.ViewPropertyAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recycle.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customViewGroup.FlowLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recycle.SwipeMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".other.SuspendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bezier.QQTrackPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recycle.WaterFallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiThread.ThreadPoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiThread.HandlerThreadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multiThread.IntentServiceActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".multiThread.intentService.MyIntentService"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NestedScroll.NestedScrollingActivity"
            android:label="@string/title_activity_nested_scrolling"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NestedScroll.tradition.ScrollListViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NestedScroll.NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NestedScroll.tradition.ScrollViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NestedScroll.nested.CoordinatorLayoutToolbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NestedScroll.nested.NestedScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".popup.WindowManagerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>